<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>售出商品详情展示</title>
</head>
<body>
<a  href="../index.html"> 回到首页</a><br/>
<table class="#" border="2" id="productDes_table" >

    <tr>
        <th>商品编号</th>
        <th>商品名</th>
        <th >货号</th>
        <th >单价</th>
        <th >(实际)售价</th>
        <th>折扣</th>

        <th >商品类别</th>
        <th >商品品牌</th>
        <th >商品属性</th>
        <th >商品图片</th>
        <th>重量</th>

        <th >操作</th>
    </tr>

    <tbody>
    <tr class="gradeX" th:each="productDTO : ${productDTOList}">

        <th th:text="${productDTO.goodsDesId}">商品编号</th>
        <th th:text="${productDTO.goodsName}">商品名</th>

        <th th:text="${productDTO.goodsId}">货号</th>
        <th th:text="${productDTO.goodsShowPrice}">单价</th>
        <th th:text="${productDTO.goodsRealPrice}">(实际)售价</th>
        <th th:text="${productDTO.goodsDiscount}">折扣力度</th>

        <th th:text="${productDTO.goodsTypeId}">商品类别</th>
        <th th:text="${productDTO.brandId}">商品品牌</th>

        <th th:text="${productDTO.goodsAttr}">商品属性</th>
        <th th:text="${productDTO.goodsDesPicture}">展示图片</th>
        <th th:text="${productDTO.goodsWeight}">重量</th>
        <th >
            <a th:href="@{/productDes/updateById/( id = ${productDTO.goodsDesId})}" title="编辑" >编辑</a>
            <a th:href="@{/productDes/delete/( id = ${productDTO.goodsDesId})}" title="删除">删除</a>
        </th>
    </tr>
    </tbody>
</table>


</body>
</html>