<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新售出商品详情</title>
</head>
<body>
<a  href="../index.html"> 回到首页</a><br/>
<div>
    <form action="/productDes/update" method="post">

        <input type="hidden" name="goodsDesId" th:value="${productDes.goodsDesId}"/>

        <label class="#">货号</label>
        <input type="text"  name="goodsId" th:value="${productDes.goodsId}">
        <br/>

        <label class="#">重量</label>
        <input type="text"  name="goodsWeight" th:value="${productDes.goodsWeight}">
        <br/>

        <label class="#">属性(单)</label>
        <input type="text"  name="goodsAttr" th:value="${productDes.goodsAttr}">
        <br/>

        <label class="#">同属性 售出多少件</label>
        <input type="text"  name="goodsCount" th:value="${productDes.goodsCount}">
        <br/>
        <button type="submit" class="#">确  定</button>
    </form>
</div>

</body>
</html>