<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
</head>
<body>

<a  href="../index.html"> 回到首页</a><br/>
    <div>
    <form action="/productType/update" method="post">

        <input type="hidden" name="typeId" th:value="${productType.typeId}"/>

        <label class="#">父类别</label>
        <input type="text"  name="typeParentId" th:value="${productType.typeParentId}">
        <br/>


        <label class="#">类别名</label>
        <input type="text"  name="typeName" th:value="${productType.typeName}">
        <br/>

        <label class="#">类别描述</label>
        <input type="text"  name="typeDes" th:value="${productType.typeDes}">
        <br/>


        <label class="#">类别展示图</label>
        <input type="text"  name="typePicture" th:value="${productType.typePicture}">
        <br/>
        <button type="submit" class="#">确  定</button>
    </form>
</div>

</body>
</html>