<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}">
    <!--[if lt IE 9]>
    <script src="../js/html5.js" th:src="@{/js/html5.js}"></script>
    <![endif]-->
    <script src="../js/jquery.js" th:src="@{/js/jquery.js}" src=""></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</head>
<body>
<!--header-->
<header>
    <h1><img th:src="@{/images/admin_logo.png}" /></h1>
    <ul class="rt_nav">
        <li><a href="http://www.aspku.com" target="_blank" class="website_icon">站点首页</a></li>
        <li><a href="#" class="clear_icon">清除缓存</a></li>
        <li><a href="#" class="admin_icon">DeathGhost</a></li>
        <li><a href="#" class="set_icon">账号设置</a></li>
        <li><a href="login.html" class="quit_icon">安全退出</a></li>
    </ul>
</header>
<!--aside nav-->
<!--aside nav-->


<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">会员详情</h2>
            <a href="adjust_funding.html" class="fr top_rt_btn money_icon">资金管理</a>
        </div>
        <form id="form1" action="/user/addUser" method="post">
            <ul class="ulColumn2">
                    <span class="item_name" style="width:120px;">会员名称：</span>
                    <input type="text" class="textbox textbox_225" name="userName"/>
                    <span class="errorTips">错误提示信息...</span>
                </li>
                <li>
                    <span class="item_name" style="width:120px;">登陆密码：</span>
                    <input type="text" class="textbox textbox_225" name="password" value="000000" readonly/>
                    <span class="errorTips">错误提示信息...</span>
                </li>

                <li>
                    <span class="item_name" style="width:120px;">手机号码：</span>
                    <input type="tel" class="textbox textbox_225" name="phone"  />
                    <span class="errorTips">错误提示信息...</span>
                </li>
                    <li>
                        <span class="item_name" style="width:120px;">身份证：</span>
                        <input type="tel" class="textbox textbox_225" name="idCard"  />
                        <span class="errorTips">错误提示信息...</span>
                    </li>
                <li>
                    <span class="item_name" style="width:120px;">电子邮件：</span>
                    <input type="email" class="textbox textbox_225" name="email" />
                    <span class="errorTips">错误提示信息...</span>
                </li>

                <li>
                    <span class="item_name" style="width:120px;">邀请人编号：</span>
                    <input type="text" class="textbox textbox_225" name="inviterId" />
                </li>

                <li>
                    <span class="item_name" style="width:120px;"></span>
                    <input type="submit" class="link_btn" value="添加"/>
                </li>
            </ul>
        </form>
    </div>
</section>
</body>
</html>
