<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.adserver.mapper.AdMapper">

<select id="findBy" resultType="Ad" parameterType="com.team.facade.vo.AdVo.AdVo">
    select * from  ad
    <where>
        <if test="constomAd != null ">
            <if test="constomAd.adId != null and constomAd.adId > 0">
            and adId = #{constomAd.adId}
             </if>
            <if test="constomAd.adDes != null and constomAd.adDes !=''">
                and adDes like  '%${constomAd.adDes}%'
            </if>
            <if test="constomAd.adPicture != null and constomAd.adPicture !=''">
                and adPicture = #{constomAd.adPicture}
            </if>
            <if test="constomAd.adType != null and constomAd.adType >0">
                and adType =#{constomAd.adType}
            </if>
            <if test="constomAd.productType != null and constomAd.productType >0">
                and productType =#{constomAd.productType}
            </if>
        </if>
</where>
</select>

<insert id="add" parameterType="Ad">
    insert into ad (adId,adDes,adPicture,adType,productType) values (null,#{adDes},#{adPicture},#{adType},#{productType})
</insert>

<delete id="delete" >
    delete from ad where adId = #{id}
</delete>

<update id="update" parameterType="Ad">
    update ad
    <set>
        <if test="adDes != null and adDes != ''">
            adDes = #{adDes},
        </if>
        <if test="adPicture != null and adPicture !=''">
            adPicture = #{adPicture},
        </if>
        <if test="adType != null and adType >0">
            adType = #{adType},
        </if>
        <if test="productType != null and productType >0">
            productType=#{productType},
        </if>
    </set>
    where adId = #{adId}
</update>
</mapper>