<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.shopping.adserver.mapper.AdMapper">
<select id="findAll" resultType="" parameterType="">
    select * from  ad
    <where>
        <if>

        </if>
        <if></if>

    </where>
</select>

<insert id="add" >
    insert into ad (adId,adDes,adPicture,adType) values (null,#{adDes},#{adPicture},#{adType})
</insert>

<delete id="deleteById" >
    delete from ad where adId in (#{id})
</delete>

<update id="" >
    update
</update>
</mapper>