<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.order.mapper.OrderMapper">

    <select id="getOrderByCondition" resultType="Order">
  		select * from orders
		<where>
			<include refid="findSql"></include>
		</where>
  	</select>

	<select id="getOrderById" resultType="Order">
		select * from orders where orderId = #{orderId}
	</select>

	<insert id="addOrder" >
		insert into orders values(null,#{orderNum},#{orderState},#{orderCreateTime},#{orderPayTime},#{orderPayMode},#{paymentMoney}，#{deliverMode}，#{orderRemark},#{userId},#{adressId})
	</insert>

	<delete id="delOrderByOrderId">
		delete from orders where orderId = #{id}
	</delete>

	<update id="updateOrder">
		update orders set orderNum = #{orderNum},orderState = #{orderState},orderCreateTime = #{orderCreateTime},orderPayTime = #{orderPayTime},orderPayMode = #{orderPayMode},paymentMoney = #{paymentMoney},deliverMode=#{deliverMode},orderRemark=#{orderRemark},userId = #{userId},adressId = #{adressId} where orderId = #{orderId}
	</update>

	<sql id="findSql">
		<if test="null != orderId and '' != orderId">
			and orderId = #{orderId}
		</if>
		<if test="null != orderNum and '' != orderNum">
			and orderNum = #{orderNum}
		</if>
		<if test="null != orderState and '' != orderState">
			and orderState = #{orderState}
		</if>
		<if test="null != orderCreateTime and '' != orderCreateTime">
			and STR_TO_DATE(orderCreateTime,'%Y-%m-%d %H:%i:%s') &gt; STR_TO_DATE(#{orderCreateTime},'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="null != orderPayTime and '' != orderPayTime">
			and STR_TO_DATE(orderPayTime,'%Y-%m-%d %H:%i:%s') &gt; STR_TO_DATE(#{orderPayTime},'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="null != orderPayMode and '' != orderPayMode">
			and orderPayMode = #{orderPayMode}
		</if>
		<if test="null != deliverMode and '' != deliverMode">
			and deliverMode = #{deliverMode}
		</if>
		<if test="null != userId and '' != userId">
			and userId = #{userId}
		</if>
		<if test="null != adressId and '' != adressId">
			and adressId = #{adressId}
		</if>
	</sql>
</mapper>
