<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.product.mapper.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.team.facade.pojo.GoodsType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="typeId" jdbcType="INTEGER" property="typeId"/>
        <result column="typeName" jdbcType="VARCHAR" property="typeName"/>
        <result column="typeParentId" jdbcType="INTEGER" property="typeParentId"/>
        <result column="typePicture" jdbcType="VARCHAR" property="typePicture"/>
        <result column="typeDes" jdbcType="VARBINARY" property="typeDes"/>
    </resultMap>

    <sql id="Base_Column_List">typeId,typeName,typeParentId,typePicture,typeDes</sql>

    <select id="queryList" resultMap="BaseResultMap" resultType="com.team.facade.pojo.GoodsType">
        select
        <include refid="Base_Column_List"/>
        from goodsType
    </select>

    <select id="queryGoodsTypeByExample" resultMap="BaseResultMap" parameterType="com.team.facade.pojo.GoodsType">
        select
        <include refid="Base_Column_List"/>
        from goodsType where 1 = 1
        <if test="typeId != null">
            and typeId = #{typeId,jdbcType=INTEGER}
        </if>

        <if test="typeName != null and typeName!=''">
            and typeName = #{typeName,jdbcType=VARCHAR}
        </if>

        <if test="typeParentId != null and typeParentId!=''">
            and typeParentId = #{typeParentId,jdbcType=INTEGER}
        </if>
        <if test="typePicture != null and typePicture!=''">
            and typePicture = #{typePicture,jdbcType=VARCHAR}
        </if>
        <if test="typeDes != null and typeDes!=''">
            and typeDes = #{typeDes,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from goodsType
        where typeId = #{typeId,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.team.facade.pojo.GoodsType">
        insert into goodsType
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                typeId,
            </if>
            <if test="typeName != null">
                typeName,
            </if>
            <if test="typeParentId != null">
                typeParentId,
            </if>
            <if test="typePicture != null">
                typePicture,
            </if>
            <if test="typeDes != null">
                typeDes,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="typeParentId != null">
                #{typeParentId,jdbcType=INTEGER},
            </if>
            <if test="typePicture != null">
                #{typePicture,jdbcType=VARCHAR},
            </if>
            <if test="typeDes != null">
                #{typeDes,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsType
    where goodsType = #{goodsType,jdbcType=INTEGER}
  </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.team.facade.pojo.GoodsType">
        update goodsType
        <set>
            <if test="typeName != null">
                typeName = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="typeParentId != null">
                typeParentId = #{typeParentId,jdbcType=INTEGER},
            </if>
            <if test="typePicture != null">
                typePicture = #{typePicture,jdbcType=VARCHAR},
            </if>

            <if test="typeDes != null">
                typeDes = #{typeDes,jdbcType=VARCHAR},
            </if>

        </set>
        where typeId = #{typeId,jdbcType=INTEGER}
    </update>


</mapper>